{% extends 'cinema/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static '/css/info.css' %}">
{% endblock %}

{% block title %}Политика приватности{% endblock %}

{% block content %}
    <section class="privacy-policy">
        <strong>Политика приватности</strong>
        <p><strong>Последнее обновление сентябрь 20, 2023</strong></p>
        <p>
            Добро пожаловать на Cinema Inc. ('<strong>Мы</strong>', '<strong>Нас</strong>', or
            '<strong>Наш</strong>'), как и почему мы можем собирать, хранить, использовать и/или передавать
            ('<strong>обрабатывать</strong>') вашу информацию, когда вы пользуетесь нашими услугами
            ('<strong>Сервисы</strong>'), например, когда вы:
        </p>
        <ul>
            <li>Посетите наш веб-сайт по адресу localhost: 8000 или любой наш веб-сайт, который ссылается на это
                уведомление
                о конфиденциальности
            </li>
            <li>Взаимодействуйте с нами другими связанными способами, включая любые продажи, маркетинг или мероприятия
            </li>
        </ul>
        <p>
            <strong>Вопросы или озабоченности?</strong> Прочтение этого уведомления о конфиденциальности поможет вам
            понять
            ваши права на неприкосновенность частной жизни и выбор. Если вы не согласны с нашей политикой и практикой,
            пожалуйста, не пользуйтесь нашими услугами. Если у вас все еще есть какие-либо вопросы или сомнения,
            пожалуйста,
            свяжитесь с нами по адресу <a href="mailto:dubinka@gmail.com. ">dubinka@gmail.com</a>.
        </p>
        <p><strong>КРАТКОЕ ИЗЛОЖЕНИЕ КЛЮЧЕВЫХ МОМЕНТОВ</strong></p>
        <p>
            <strong><em>В этом кратком изложении приведены ключевые моменты из нашего уведомления о конфиденциальности,
                но
                вы можете узнать более подробную информацию о любой из этих тем, перейдя по ссылке после каждого
                ключевого
                пункта или воспользовавшись нашим </em></strong>
            <a href="#toc"><strong><em>оглавлением</em></strong> </a>
            <strong><em> ниже, чтобы найти нужный раздел.</em></strong>
        </p>
        <p>
            <strong>Какую личную информацию мы обрабатываем?</strong> Когда вы посещаете, используете наши Сервисы или
            перемещаетесь по ним, мы можем обрабатывать личную информацию в зависимости от того, как вы взаимодействуете
            с
            нами и сервисами, какой выбор вы делаете, а также какие продукты и функции вы используете. Узнайте больше о
            <a href="#personalinfo">личной информации, которую вы нам раскрываете</a>. </p>
        <p>
            <strong>Обрабатываем ли мы какую-либо конфиденциальную личную информацию?</strong> Мы не обрабатываем
            конфиденциальную личную информацию.
        </p>
        <p>
            <strong>Получаем ли мы какую-либо информацию от третьих лиц?</strong> Мы не получаем никакой информации от
            третьих лиц.
        </p>
        <p>
            <strong>Как мы обрабатываем вашу информацию?</strong> Мы обрабатываем вашу информацию для предоставления,
            улучшения и администрирования наших услуг, связи с вами, обеспечения безопасности и предотвращения
            мошенничества, а также для соблюдения законодательства. Мы также можем обрабатывать вашу информацию для
            других
            целей с вашего согласия. Мы обрабатываем вашу информацию только тогда, когда у нас есть для этого веские
            юридические основания. Узнайте больше о том,
            <a href="#infouse">как мы обрабатываем вашу информацию</a>. </p>
        <p>
            <strong>В каких ситуациях и с какими сторонами мы делимся личной информацией?</strong> Мы можем делиться
            информацией в конкретных ситуациях и с конкретными третьими лицами. Узнайте больше о том,
            <a href="#whoshare"> когда и с кем мы делимся вашей личной информацией</a>. </p>
        <p>
            <strong>Как мы обеспечиваем безопасность вашей информации?</strong> У нас существуют организационные и
            технические процессы и процедуры для защиты вашей личной информации. Однако ни одна электронная передача
            через
            Интернет или технология хранения информации не могут быть гарантированы на 100% безопасными, поэтому мы не
            можем
            обещать или гарантировать, что хакеры, киберпреступники или другие неавторизованные третьи стороны не смогут
            нарушить нашу систему безопасности и ненадлежащим образом собрать, получить доступ, украсть или изменить
            вашу
            информацию. Узнайте больше о том,
            <a href="#infosafe"> как мы защищаем вашу информацию</a>. </p>
        <p>
            <strong>Каковы ваши права?</strong> В зависимости от того, где вы географически находитесь, применимое
            законодательство о конфиденциальности может означать, что у вас есть определенные права в отношении вашей
            личной
            информации. Узнайте больше
            <a href="#privacyrights"> о ваших правах на неприкосновенность частной жизни</a>. </p>
        <p>
            <strong>Как вы осуществляете свои права?</strong> Самый простой способ воспользоваться своими правами - это
            связаться с нами. Мы рассмотрим любой запрос и примем меры в соответствии с применимыми законами о защите
            данных.
        </p>
        <p>Хотите узнать больше о том, что мы делаем с любой информацией, которую собираем? <a
                href="#toc">Ознакомьтесь с уведомлением о конфиденциальности в полном объеме</a>.</p>
        <br/>
        <p><strong id="toc">Содержание</strong></p>
        <ol>
            <li><a href="#infocollect">КАКУЮ ИНФОРМАЦИЮ МЫ СОБИРАЕМ?</a></li>
            <li><a href="#infouse">КАК МЫ ОБРАБАТЫВАЕМ ВАШУ ИНФОРМАЦИЮ?</a></li>
            <li><a href="#whoshare">КОГДА И С КЕМ МЫ ДЕЛИМСЯ ВАШЕЙ ЛИЧНОЙ ИНФОРМАЦИЕЙ?</a></li>
            <li><a href="#inforetain">КАК ДОЛГО МЫ ХРАНИМ ВАШУ ИНФОРМАЦИЮ?</a></li>
            <li><a href="#infosafe">КАК МЫ ОБЕСПЕЧИВАЕМ БЕЗОПАСНОСТЬ ВАШЕЙ ИНФОРМАЦИИ?</a></li>
            <li><a href="#infominors">СОБИРАЕМ ЛИ МЫ ИНФОРМАЦИЮ ОТ НЕСОВЕРШЕННОЛЕТНИХ?</a></li>
            <li><a href="#privacyrights">КАКОВЫ ВАШИ ПРАВА НА НЕПРИКОСНОВЕННОСТЬ ЧАСТНОЙ ЖИЗНИ?</a></li>
            <li><a href="#DNT">ЭЛЕМЕНТЫ УПРАВЛЕНИЯ ДЛЯ ФУНКЦИЙ, КОТОРЫЕ НЕ ОТСЛЕЖИВАЮТСЯ</a></li>
            <li><a href="#policyupdates">ВНОСИМ ЛИ МЫ ИЗМЕНЕНИЯ В ЭТО УВЕДОМЛЕНИЕ?</a></li>
            <li><a href="#contact">КАК ВЫ МОЖЕТЕ СВЯЗАТЬСЯ С НАМИ ПО ПОВОДУ ЭТОГО УВЕДОМЛЕНИЯ?</a></li>
            <li><a href="#request">КАК ВЫ МОЖЕТЕ ПРОСМОТРЕТЬ, ОБНОВИТЬ ИЛИ УДАЛИТЬ ДАННЫЕ, КОТОРЫЕ МЫ СОБИРАЕМ ОТ
                ВАС?</a>
            </li>
        </ol>
        <article id="infocollect">
            <strong>1. КАКУЮ ИНФОРМАЦИЮ МЫ СОБИРАЕМ?</strong><br>
            <p><strong id="personalinfo">Личная информация, которую вы нам раскрываете</strong></p>
            <p>
                <em><strong>Вкратце:</strong> Мы собираем личную информацию, которую вы нам предоставляете.</em>
            </p>
            <p>Мы собираем личную информацию, которую вы добровольно предоставляете нам, когда регистрируетесь на
                Сервисах,
                выражаете заинтересованность в получении информации о нас или наших продуктах и услугах, когда вы
                участвуете
                в мероприятиях, связанных с Сервисами, или иным образом, когда вы связываетесь с нами.</p>
            <p>
                <strong>Личная информация, предоставленная Вами.</strong> Личная информация, которую мы собираем,
                зависит от
                контекста вашего взаимодействия с нами и Услугами, выбора, который вы делаете, а также продуктов и
                функций,
                которые вы используете. Личная информация, которую мы собираем, может включать следующее:
            </p>
            <ul>
                <li>адреса электронной почты</li>
                <li>имена</li>
                <li>имена пользователей</li>
                <li>пароли</li>
                <li>номера телефонов</li>
            </ul>
            <p><strong>Конфиденциальная информация.</strong> Мы не обрабатываем конфиденциальную информацию.</p>
            <p>Вся личная информация, которую вы нам предоставляете, должна быть достоверной, полной и точной, и вы
                должны
                уведомлять нас о любых изменениях в такой личной информации.</p>
        </article>

        <article id="infouse">
            <strong>2. КАК МЫ ОБРАБАТЫВАЕМ ВАШУ ИНФОРМАЦИЮ?</strong><br>
            <p>
                <strong><em>Вкратце: </em></strong>
                <em>Мы обрабатываем вашу информацию для предоставления, улучшения и администрирования наших услуг, связи
                    с
                    вами, обеспечения безопасности и предотвращения мошенничества, а также для соблюдения
                    законодательства.
                    Мы также можем обрабатывать вашу информацию для других целей с вашего согласия. </em>
            </p>
            <p>
                <strong>Мы обрабатываем вашу личную информацию по целому ряду причин, в зависимости от того, как вы
                    взаимодействуете с нашими сервисами, включая:</strong>
            </p>
            <ul>
                <li>
                    <strong>Для облегчения создания учетной записи и аутентификации, а также для иного управления
                        учетными
                        записями пользователей. </strong>Мы можем обрабатывать вашу информацию, чтобы вы могли создать
                    свою
                    учетную запись и войти в нее, а также поддерживать свою учетную запись в рабочем состоянии.
                </li>
                <li>
                    <strong>Чтобы запросить обратную связь. </strong>Мы можем обрабатывать вашу информацию, когда это
                    необходимо, чтобы запросить обратную связь и связаться с вами по поводу использования вами наших
                    услуг.
                </li>
                <li>
                    <strong>Для оценки и улучшения наших услуг, продуктов, маркетинга и вашего опыта. </strong>Мы можем
                    обрабатывать вашу информацию, когда считаем, что это необходимо для выявления тенденций
                    использования,
                    определения эффективности наших рекламных кампаний, а также для оценки и улучшения наших услуг,
                    продуктов, маркетинга и вашего опыта.
                </li>
            </ul>
        </article>
        <article id="whoshare">
            <strong>3. КОГДА И С КЕМ МЫ ДЕЛИМСЯ ВАШЕЙ ЛИЧНОЙ ИНФОРМАЦИЕЙ?</strong><br>
            <p>
                <em><strong>Вкратце:</strong> Мы можем делиться информацией в конкретных ситуациях, описанных в этом
                    разделе, и/или со следующими третьими лицами.</em>
            </p>
            <p>Нам может потребоваться предоставить вашу личную информацию в следующих ситуациях:</p>
            <ul>
                <li>
                    <strong>Деловые переводы.</strong> Мы можем делиться или передавать вашу информацию в связи с любым
                    слиянием, продажей активов компании, финансированием или приобретением всего или части нашего
                    бизнеса
                    другой компании или в ходе переговоров о нем.
                </li>
            </ul>
        </article>
        <article id="inforetain">
            <strong>4. КАК ДОЛГО МЫ ХРАНИМ ВАШУ ИНФОРМАЦИЮ?</strong><br>
            <p>
                <em><strong>Вкратце:</strong> Мы храним вашу информацию до тех пор, пока это необходимо для достижения
                    целей, изложенных в настоящем уведомлении о конфиденциальности, если иное не требуется законом.</em>
            </p>
            <p> Мы будем хранить вашу личную информацию только до тех пор, пока это необходимо для целей, изложенных в
                настоящем уведомлении о конфиденциальности, за исключением случаев, когда более длительный срок хранения
                требуется или разрешен законом (например, налоговыми, бухгалтерскими или другими правовыми
                требованиями).
                Никакая цель настоящего уведомления не требует от нас хранения вашей личной информации дольше, чем
                период
                времени, в течение которого у пользователей есть учетная запись у нас.</p>
            <p> Когда у нас не будет постоянной законной деловой необходимости обрабатывать вашу личную информацию, мы
                либо
                удалим, либо обезличим такую информацию, или, если это невозможно (например, потому, что ваша личная
                информация была сохранена в резервных архивах), тогда мы надежно сохраним вашу личную информацию и
                изолируем
                ее от любых дальнейших обработка до тех пор, пока не станет возможным удаление.</p>
            <p>
        </article>

        <article id="infosafe">
            <strong>5. КАК МЫ ОБЕСПЕЧИВАЕМ БЕЗОПАСНОСТЬ ВАШЕЙ ИНФОРМАЦИИ?</strong><br>
            <p>
                <em><strong>Вкратце:</strong> Мы стремимся защитить вашу личную информацию с помощью системы
                    организационных и технических мер безопасности.</em>
            </p>
            <p> Мы внедрили надлежащие и разумные технические и организационные меры безопасности, направленные на
                защиту
                безопасности любой личной информации, которую мы обрабатываем. Однако, несмотря на наши меры
                предосторожности и усилия по защите вашей информации, никакая электронная передача через Интернет или
                технология хранения информации не могут быть гарантированы на 100% безопасными, поэтому мы не можем
                обещать
                или гарантировать, что хакеры, киберпреступники или другие неавторизованные третьи стороны не смогут
                нарушить нашу систему безопасности и ненадлежащим образом осуществлять сбор, доступ к, украсть или
                изменить
                вашу информацию. Несмотря на то, что мы сделаем все возможное для защиты вашей личной информации,
                передача
                личной информации в наши сервисы и из них осуществляется на ваш собственный риск. Вы должны получать
                доступ
                к сервисам только в безопасной среде. </p>
        </article>

        <article id="infominors">
            <strong>6. СОБИРАЕМ ЛИ МЫ ИНФОРМАЦИЮ ОТ НЕСОВЕРШЕННОЛЕТНИХ?</strong><br>
            <p>
                <em><strong>Вкратце:</strong> Мы сознательно не собираем данные о детях младше 18 лет и не продаем их
                    детям
                    в возрасте до 18 лет.</em>
            </p>
            <p> Мы сознательно не запрашиваем данные у детей младше 18 лет и не продаем их на рынке. Используя Сервисы,
                вы
                подтверждаете, что вам не менее 18 лет или что вы являетесь родителем или опекуном такого
                несовершеннолетнего и даете согласие на использование Услуг таким несовершеннолетним иждивенцем. Если мы
                узнаем, что была собрана личная информация от пользователей младше 18 лет, мы деактивируем учетную
                запись и
                примем разумные меры для оперативного удаления таких данных из наших записей. Если вам станет известно о
                каких-либо данных, которые мы, возможно, собрали от детей младше 18 лет, пожалуйста, свяжитесь с нами по
                адресу <a href="mailto:dubinka@gmail.com. ">dubinka@gmail.com</a>.</p>
        </article>

        <article id="privacyrights">
            <strong>7. КАКОВЫ ВАШИ ПРАВА НА НЕПРИКОСНОВЕННОСТЬ ЧАСТНОЙ ЖИЗНИ?</strong><br>
            <p>
                <em><strong>Вкратце:</strong> Вы можете просмотреть, изменить или закрыть свою учетную запись в любое
                    время.</em>
            </p>
            <p>
                <strong>Отзыв вашего согласия: </strong> Если мы полагаемся на ваше согласие на обработку вашей
                личной информации, которое может быть явным и/или подразумеваемым согласием в зависимости от применимого
                законодательства, вы имеете право отозвать свое согласие в любое время. Вы можете отозвать свое согласие
                в
                любое время, связавшись с нами, используя контактные данные, указанные в разделе '<a href="#contact">КАК
                ВЫ
                МОЖЕТЕ СВЯЗАТЬСЯ с НАМИ ПО ПОВОДУ ДАННОГО
                УВЕДОМЛЕНИЯ?</a>' ниже. </p>
            <p> Однако, пожалуйста, обратите внимание, что это не повлияет на законность обработки до ее отзыва и, когда
                это
                позволяет применимое законодательство, не повлияет на обработку вашей личной информации, осуществляемую
                на
                законных основаниях обработки, отличных от согласия.</p>
            <p><strong>Информация об учетной записи</strong></p>
            <p> Если вы в любое время захотите просмотреть или изменить информацию в своей учетной записи или закрыть
                свою
                учетную запись, вы можете: </p>
            <ul>
                <li>Войдите в настройки своей учетной записи и обновите свою учетную запись пользователя.</li>
            </ul>
            <p> По вашему запросу о прекращении действия вашей учетной записи мы деактивируем или удалим вашу учетную
                запись
                и информацию из наших активных баз данных. Однако мы можем сохранять некоторую информацию в наших файлах
                для
                предотвращения мошенничества, устранения неполадок, оказания помощи в любых расследованиях, обеспечения
                соблюдения наших юридических условий и/или соблюдения применимых требований законодательства. </p>
            <p>Если у вас есть вопросы или комментарии по поводу ваших прав на конфиденциальность, вы можете отправить
                нам
                электронное письмо <a href="mailto:dubinka@gmail.com. ">dubinka@gmail.com</a>.</p>
        </article>

        <article id="DNT">
            <strong>8. ЭЛЕМЕНТЫ УПРАВЛЕНИЯ ФУНКЦИЯМИ "НЕ ОТСЛЕЖИВАТЬ"</strong><br>
            <p> Большинство веб-браузеров, а также некоторые мобильные операционные системы и мобильные приложения
                включают
                функцию "Не отслеживать" ("DNT") или настройку, которую вы можете активировать, чтобы сообщить о своих
                предпочтениях в отношении конфиденциальности, чтобы данные о ваших действиях в Интернете не
                отслеживались и
                не собирались. На данном этапе не был окончательно разработан единый технологический стандарт для
                распознавания и реализации сигналов DNT. Таким образом, в настоящее время мы не реагируем на сигналы
                браузера DNT или любой другой механизм, который автоматически сообщает о вашем решении не отслеживаться
                онлайн. Если будет принят стандарт онлайн-отслеживания, которому мы должны следовать в будущем, мы
                проинформируем вас об этой практике в пересмотренной версии настоящего уведомления о
                конфиденциальности. </p>
        </article>

        <article id="policyupdates">
            <strong>9. ВНОСИМ ЛИ МЫ ИЗМЕНЕНИЯ В ДАННОЕ УВЕДОМЛЕНИЕ?</strong><br>
            <p>
                <em><strong>Вкратце: </strong>Да, мы будем обновлять это уведомление по мере необходимости, чтобы
                    соответствовать соответствующим законам.</em>
            </p>
            <p> Мы можем время от времени обновлять это уведомление о конфиденциальности. Обновленная версия будет
                обозначена обновленной датой "Пересмотрено", и обновленная версия вступит в силу, как только станет
                доступной. Если мы внесем существенные изменения в настоящее уведомление о конфиденциальности, мы можем
                уведомить вас либо разместив уведомление о таких изменениях на видном месте, либо напрямую отправив вам
                уведомление. Мы рекомендуем вам часто просматривать это уведомление о конфиденциальности, чтобы быть в
                курсе
                того, как мы защищаем вашу информацию.</p>
        </article>

        <article id="contact">
            <strong>10. КАК ВЫ МОЖЕТЕ СВЯЗАТЬСЯ С НАМИ ПО ПОВОДУ ДАННОГО УВЕДОМЛЕНИЯ?</strong><br>
            <p>Если у вас есть вопросы или комментарии по поводу этого уведомления, вы можете отправить нам электронное
                письмо по адресу
                <a href="mailto:dubinka@gmail.com.">dubinka@gmail.com</a>.
            </p>
        </article>

        <article id="request">
            <strong>КАК ВЫ МОЖЕТЕ ПРОСМОТРЕТЬ, ОБНОВИТЬ ИЛИ УДАЛИТЬ ДАННЫЕ, КОТОРЫЕ МЫ СОБИРАЕМ ОТ ВАС?</strong><br>
            <p>В соответствии с применимым законодательством вашей страны вы можете иметь право запросить доступ к
                личной
                информации, которую мы собираем от вас, изменить эту информацию или удалить ее. Чтобы запросить
                просмотр,
                обновление или удаление вашей личной информации, пожалуйста, свяжитесь с нами.</p>
        </article>
    </section>

{% endblock %}