
.article-list {
    display: flex;
    flex-wrap: wrap;
}

.article {
    display: flex;
    flex-direction: column;
}


.article-body {
    column-count: 3;
    column-gap: 1rem;
}


.article-card {
    max-width: 200px;
    display: flex;
    margin: 1%;
    padding: 1%;
    flex-direction: column;
    justify-content: space-between;
    border: 0.2rem solid black;
    border-radius: 0.6rem;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

    .description {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}