{% extends 'cinema/base.html' %}

{% load static %}

{% block title %}Additional{% endblock %}

{% block scripts %}
    <script src="{% static 'js/table.js' %}"></script>
    <script src="{% static 'js/associativeArray.js' %}"></script>
    <script src="{% static 'js/class.js' %}"></script>
    <script src="{% static 'js/classPrototype.js' %}"></script>
{% endblock %}

{% block content %}
    <style>
        table {
            border-collapse: collapse;
        }

        tbody tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        td {
            border: 1px solid #000;
            width: 25px;
            height: 25px;
            text-align: center;
            vertical-align: middle;
        }
    </style>
    <section id="table-container">
        <form class="form" name="table-size-form">
            <label for="table-size">Enter table size</label>
            <input type="number" min="1" max="30" name="table-size" id="table-size">
            <input class="button button-green" type="submit" value="Generate table!">
        </form>
        <div id="table-buttons-container" hidden>
            <label for="max-selected-items">Max selected items</label>
            <input type="number" name="max-selected-items" id="max-selected-items">
            <button class="button button-green" id="add-row-button">Add row</button>
            <button class="button button-green" id="add-column-button">Add column</button>
            <button class="button button-green" id="transpose-button">Transpose</button>
        </div>
    </section>

    <section id="associative-container">
        <p>Associative array (map)</p>
        <form class="form" name="associative-form">
            <label for="firstname">Firstname:</label>
            <input type="text" minlength="1" name="firstname" id="firstname">
            <label for="lastname">Lastname:</label>
            <input type="text" minlength="1" name="lastname" id="lastname">
            <label for="physics">Physics mark:</label>
            <input type="number" min="0" max="10" name="mark" id="physics">
            <label for="math">Physics mark:</label>
            <input type="number" min="0" max="10" name="mark" id="math">
            <label for="literature">Physics mark:</label>
            <input type="number" min="0" max="10" name="mark" id="literature">
            <input class="button button-green" type="submit" value="Add student">
        </form>
        <ul id="student-list"></ul>
    </section>

    <section id="class">
        <h3>Test class functions</h3>
        <p>There's worker entity worker: name - 'misha', age - 20, experience - '15', salary - '3500', gender -
            'male';</p>
        <button id="getClassAgeButton">Get age</button>
        <button id="getClassNameButton">Get name</button>
        <button id="getClassExperienceButton">Get experience</button>
        <button id="getClassSalaryButton">Get salary</button>
        <button id="getClassFullInfoButton">Get full info</button>
        <button id="getClassFullDecoratedInfoButton">Get decorated full info</button>
    </section>

    <section id="classPrototype">
        <h3>Test prototype functions</h3>
        <p>There's worker entity worker: name - 'vasya', age - 20, experience - '8', salary - '3500', gender -
            'male';</p>
        <button id="getClassProtoAgeButton">Get age</button>
        <button id="getClassProtoNameButton">Get name</button>
        <button id="getClassProtoExperienceButton">Get experience</button>
        <button id="getClassProtoSalaryButton">Get salary</button>
        <button id="getClassProtoFullInfoButton">Get full info</button>
        <button id="getClassProtoFullDecoratedInfoButton">Get decorated full info</button>
    </section>

    <section id="poem">
        <h2>Стихотворение</h2>
        <p>
            Ад прадзедаў спакон вякоў<br>
            Мне засталася спадчына;<br>
            Паміж сваіх і чужакоў<br>
            Яна мне ласкай матчынай.<br>
        </p>
    </section>

    <section id="wbr">
        <h2>WBR</h2>
        <p>Привет
            <wbr>
            как
            <wbr>
            дела?
            <wbr>
            Нормально,
            <wbr>
            Нереально
        </p>
    </section>
    <section id="defenitions">
        <h2>Определения</h2>
        <dl>
            <dt><abbr title="HyperText Markup Language">HTML</abbr></dt>
            <dd>HTML стандартизированный язык гипертекстовой разметки документов для просмотра веб-страниц в браузере.
            </dd>

            <dt><abbr title="Cascading Style Sheets">CSS</abbr></dt>
            <dd>CSS формальный язык декорирования и описания внешнего вида документа (веб-страницы), написанного с
                использованием языка разметки.
            </dd>
        </dl>
    </section>
    <section id="quotes">
        <h2>Цитаты</h2>
        <blockquote>
            <p>Жизнь — она как конфеты. Одним с коньяком, а другим — сосательные…
            </p>
            <footer>— Максим Коновалюк</footer>
        </blockquote>
        <p>Как сказал Тамби Масаев, <q>Все кто был со мной когда я был внизу, пристегнитесь, мы взлетаем!</q></p>
    </section>
    <section>
        <h2>Код</h2>
        <pre>
<code>
    def contacts(request):<br>
        return render(request, 'contacts/contacts.html')</code>
       </pre>
    </section>
    <section id="audio">
        <h2>Аудио</h2>
        <figure>
            <figcaption>Послушайте ЛСП - Номера:</figcaption>
            <audio controls src="../static/music/lsp_nomera.mp3"></audio>
        </figure>
    </section>
    <section id="video">
        <h2>Видео</h2>
        <figure>
            <figcaption>Посмотрите видео про flexbox в css:</figcaption>
            <video controls src="../static/video/flexbox.mp4"></video>
        </figure>
    </section>
    <section id="image">
        <h2>Адаптивное фото</h2>
        <figure>
            <img src="../static/images/nature.jpg" alt="Природа"
                 srcset="../static/images/nature-720.jpg 1000w">
            <figcaption>Природа</figcaption>
        </figure>
    </section>
{% endblock %}