<!--/templates/register.html-->

{% load static %}
{% block content %}
    <head>
        <meta charset="utf-8"/>
        <link href="{% static '/css/signup.css' %}" rel="stylesheet">
    </head>
    <div class="registration-wrapper">
        <h2>Регистрация</h2>
        {#        <form class="registration-form" method="post">#}
        {#            {% csrf_token %}#}
        {#            <div class="registration_username">Придумайте имя пользователя</div>#}
        {#            {{ form.username }}#}
        {#            {% if form.username.errors %}#}
        {#                <div class="error-message">#}
        {#                    {% for error in form.username.errors %}#}
        {#                        {{ error }}#}
        {#                    {% endfor %}#}
        {#                </div>#}
        {#            {% endif %}#}
        {#            <div class="registration_password1">Придумайте пароль</div>#}
        {#            {{ form.password1 }}#}
        {#            {% if form.password1.errors %}#}
        {#                <div class="error-message">#}
        {#                    {% for error in form.password1.errors %}#}
        {#                        {{ error }}#}
        {#                    {% endfor %}#}
        {#                </div>#}
        {#            {% endif %}#}
        {#            <div class="registration_password2">Подтвердите пароль</div>#}
        {#            {{ form.password2 }}#}
        {#            {% if form.password2.errors %}#}
        {#                <div class="error-message">#}
        {#                    {% for error in form.password2.errors %}#}
        {#                        {{ error }}#}
        {#                    {% endfor %}#}
        {#                </div>#}
        {#            {% endif %}#}
        {##}
        {#            <input class="submit" type="submit" value="Зарегестрироваться">#}
        {#        </form>#}
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <p>
                {{ form.username.errors }}
                <label class="registration_username" for="{{ form.username.id_for_label }}">Username:</label>
                {{ form.username }}
            <p>
            <p>
                {{ form.email.errors }}
                <label for="{{ form.email.id_for_label }}">Email:</label>
                {{ form.email }}
            <p>
            <p>
                {{ form.first_name.errors }}
                <label for="{{ form.username.id_for_label }}">First name:</label>
                {{ form.first_name }}
            <p>
            <p>
                {{ form.last_name.errors }}
                <label for="{{ form.username.id_for_label }}">Last name:</label>
                {{ form.last_name }}
            <p>
            <p>
                {{ form.date_birth.errors }}
                <label for="{{ form.date_birth.id_for_label }}">Birth date:</label>
                {{ form.date_birth }}
            <p>
            <p>
                {{ form.phone_number.errors }}
                <label for="{{ form.phone_number.id_for_label }}">Phone number:</label>
                {{ form.phone_number }}
            <p>
            <p>
                {{ form.password1.errors }}
                <label for="{{ form.password1.id_for_label }}">Password:</label>
                {{ form.password1 }}
            <p>
            <p>
                {{ form.password2.errors }}
                <label for="{{ form.password2.id_for_label }}">Confirm password:</label>
                {{ form.password2 }}
            <p>
                <button class="submit" type="submit">Register</button>
        </form>
        <a class="registration-link" href="{% url 'users:signin' %}">Войти</a>
        <a class="registration-link" href="{% url 'cinema:film_list' %}">На главную</a>
    </div>
{% endblock %}