{% load static %}
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}Кинотеатр{% endblock %}</title>
    <link type="image/png" sizes="96x96" rel="icon" href="{% static 'images/logo.png' %}"/>
    <link href="{% static '/css/base.css' %}" rel="stylesheet"/>
    <link href="{% static '/css/detail.css' %}" rel="stylesheet"/>
</head>
<body>
<header id="header">
    <a href="{% url 'cinema:main' %}" class="logo"></a>
    <a class="tab" href="{% url 'cinema:film_list' %}">Каталог</a>
    <a class="tab" href="{% url 'news_page' %}">Новости</a>
    <a class="tab" href="{% url 'feedback-list' %}">Отзывы</a>
    <a class="tab" href="{% url 'info:about_us' %}">О нас</a>
    <a class="tab" href="{% url 'info:faq' %}">FAQ</a>
    <a class="tab" href="{% url 'info:contacts' %}">Контакты</a>
    <a class="tab" href="{% url 'info:privacy_policy' %}">Политика приватности</a>


    {% if user.is_authenticated %}
        <a class="tab" class="log_link" href="/accounts/logout/">Выйти</a>
    {% else %}
        <a class="tab" class="log_link" href="/accounts/login/">Войти</a>
    {% endif %}
    {% with total_items=cart|length %}
        {% if cart|length >= 0 %}
            <a class="cart_icon tab" href="{% url 'cart:cart_detail' %}">Корзина | {{ cart|length }}</a>
        {% endif %}
    {% endwith %}
</header>
<main id="content">
    {% block content %} {% endblock %}
</main>
</body>
</html>