{% extends "cinema/base.html" %}
{% load static %}
{% block content %}
    <div>
        <h2>Название кинотеатра: CineMagic</h2>

        <p>Адрес: Ул. Главная, 123, Городской Район, Страна</p>

        <p>Описание:
            CineMagic - это современный кинотеатр, который предлагает неповторимый кинематографический опыт для всех
            возрастов. Мы стремимся создать уютное и комфортное место, где вы можете наслаждаться новейшими фильмами в
            высоком разрешении и окружении звука высокого качества.</p>

        <p>Услуги и особенности:

            Множество кинозалов с современным оборудованием.
            Огромный выбор фильмов в разных жанрах.
            Комфортабельные кресла и просторные ряды.
            Бар с закусками и напитками.
            Магазин с сувенирами и киноаксессуарами.
            Возможность аренды зала для частных мероприятий.
            Расписание и бронирование:
            На нашем сайте вы можете узнать текущее расписание сеансов, цены на билеты и забронировать места онлайн.
            Наши двери открыты для вас каждый день недели, и мы всегда готовы подарить вам незабываемые моменты в мире
            киноискусства.</p>

        <p>Контакты:<br>
            Телефон: +123-456-7890<br>
            Электронная почта: info@cinemagic.com<br>
            Мы также активны в социальных сетях: [ссылка на Facebook], [ссылка на Instagram], [ссылка на Twitter]<br>
            Мы приглашаем вас на наши сеансы и надеемся, что вы проведете здесь незабываемое время в мире кино!<br>
        </p>
        <iframe width="1280" height="692" src="https://www.youtube.com/embed/-jhau7d9qeE" title="Кинотеатры Синема Парк"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        <img src="{% static 'images/logo.png' %}">
        <h3>Год 1995: Зарождение кинотеатра</h3>
        <p>CineMagic начал свою историю в 1995 году как небольшой кинотеатр с одним залом и ручным проецированием. С
            течением времени мы быстро завоевали популярность среди местных жителей благодаря своему широкому выбору
            фильмов
            и уютной атмосфере.</p>

        <h3>Год 2000: Расширение</h3>
        <p>В начале нового тысячелетия мы провели масштабное обновление и расширились до трех кинозалов. Внедрение
            новейших
            технологий проецирования и звука позволило нам предлагать зрителям лучший кинематографический опыт.</p>

        <h3>Год 2010: Время для комфорта</h3>
        <p>В 2010 году CineMagic пережил ещё одну важную трансформацию. Мы установили комфортабельные кресла с
            регулировкой
            и раздвижные подлокотники, чтобы обеспечить максимальный комфорт для каждого гостя. Этот год также
            ознаменовался
            расширением меню бара с большим выбором закусок и напитков.</p>

        <h3>Год 2015: Онлайн-бронирование</h3>
        <p>С 2015 года мы предоставляем нашим клиентам удобную возможность онлайн-бронирования билетов через наш
            веб-сайт.
            Это сделало поход в кино ещё более доступным и удобным.</p>

        <h3>Год 2020: Пандемия и новые вызовы</h3>
        <p>Год 2020 стал годом, когда мировая пандемия COVID-19 повлияла на все сферы жизни, включая кинематограф. Мы
            временно закрылись, чтобы обеспечить безопасность наших клиентов и пережили это испытание вместе. Наша
            команда
            внедрила новые стандарты чистоты и безопасности.</p>

        <h3>Год 2023: Будущее кино</h3>
        <p>Сегодня CineMagic продолжает радовать зрителей и предлагает лучшие фильмы в самом современном и
            комфортабельном
            окружении. Мы развиваемся и растем вместе с технологиями, предлагая уникальные мероприятия, просмотры
            фильмов в
            формате IMAX и многое другое.</p>

        <p>Мы гордимся нашей историей и несомненно с нетерпением ждем будущих достижений, которые принесет кино и наш
            кинотеатр "CineMagic". Благодарим вас, что вы с нами в этом увлекательном путешествии в мире кино!</p>

    </div>
{% endblock %}