{% extends "cinema/base.html" %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static '/css/about_us.css' %}">
{% endblock %}

{% block title %}О нас{% endblock %}

{% block content %}
    <section class="about-us">
        <h2>Название кинотеатра: CineMagic</h2>

        <p>Адрес: Ул. Главная, 123, Городской Район, Страна</p>

        <p>Описание:
            CineMagic - это современный кинотеатр, который предлагает неповторимый кинематографический опыт для всех
            возрастов. Мы стремимся создать уютное и комфортное место, где вы можете наслаждаться новейшими фильмами в
            высоком разрешении и окружении звука высокого качества.</p>

        <p>Услуги и особенности:

            Множество кинозалов с современным оборудованием.
            Огромный выбор фильмов в разных жанрах.
            Комфортабельные кресла и просторные ряды.
            Бар с закусками и напитками.
            Магазин с сувенирами и киноаксессуарами.
            Возможность аренды зала для частных мероприятий.
            Расписание и бронирование:
            На нашем сайте вы можете узнать текущее расписание сеансов, цены на билеты и забронировать места онлайн.
            Наши двери открыты для вас каждый день недели, и мы всегда готовы подарить вам незабываемые моменты в мире
            киноискусства.</p>

        <p>Контакты:<br>
            Телефон: +123-456-7890<br>
            Электронная почта: info@cinemagic.com<br>
        </p>
        <iframe width="1280" height="692" src="https://www.youtube.com/embed/-jhau7d9qeE" title="Кинотеатры Синема Парк"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        <div class="logo-container">
            <img class="full-logo" src="{% static 'images/logo.png' %}" alt="logo">
        </div>
        <ul>
            <li>
                <details>
                    <summary>Год 1995: Зарождение кинотеатра</summary>
                    <p>CineMagic начал свою историю в 1995 году как небольшой кинотеатр с одним залом и ручным
                        проецированием. С
                        течением времени мы быстро завоевали популярность среди местных жителей благодаря своему
                        широкому
                        выбору фильмов и уютной атмосфере.</p>
                </details>
            </li>
            <li>
                <details>
                    <summary>Год 2000: Расширение</summary>
                    <p>В начале нового тысячелетия мы провели масштабное обновление и расширились до трех кинозалов.
                        Внедрение новейших технологий проецирования и звука позволило нам предлагать зрителям лучший
                        кинематографический опыт.</p>
                </details>
            </li>
            <li>
                <details>

                    <summary>Год 2010: Время для комфорта</summary>
                    <p>В 2010 году CineMagic пережил ещё одну важную трансформацию. Мы установили комфортабельные кресла
                        с
                        регулировкой
                        и раздвижные подлокотники, чтобы обеспечить максимальный комфорт для каждого гостя. Этот год
                        также
                        ознаменовался
                        расширением меню бара с большим выбором закусок и напитков.</p>
                </details>
            </li>
            <li>
                <details>
                    <summary>Год 2015: Онлайн-бронирование</summary>
                    <p>С 2015 года мы предоставляем нашим клиентам удобную возможность онлайн-бронирования билетов через
                        наш
                        веб-сайт.
                        Это сделало поход в кино ещё более доступным и удобным.</p>
                </details>
            </li>
            <li>
                <details>
                    <summary>Год 2020: Пандемия и новые вызовы</summary>
                    <p>Год 2020 стал годом, когда мировая пандемия COVID-19 повлияла на все сферы жизни, включая
                        кинематограф. Мы временно закрылись, чтобы обеспечить безопасность наших клиентов и пережили это
                        испытание вместе. Наша команда внедрила новые стандарты чистоты и безопасности.</p>
                </details>
            </li>
            <li>
                <details>
                    <summary>Год 2023: Будущее кино</summary>
                    <p>Сегодня CineMagic продолжает радовать зрителей и предлагает лучшие фильмы в самом современном и
                        комфортабельном
                        окружении. Мы развиваемся и растем вместе с технологиями, предлагая уникальные мероприятия,
                        просмотры
                        фильмов в формате IMAX и многое другое.</p>
                </details>
            </li>
        </ul>
        <div class="certificate">
            <div class="content">
                <h1>Сертификат</h1>
                <p>Этим сертификатом подтверждается, что</p>
                <h2>Имя и Фамилия</h2>
                <p>успешно завершил(а) обучение</p>
                <p>Дата: 01.01.2023</p>
            </div>
        </div>
    </section>
{% endblock %}