{% extends "cinema/base.html" %}
{% load static %}
{% block title %}
    {% if category %}
        {{ category.title }}
    {% else %}
        Все
    {% endif %}
{% endblock %}
{% block content %}

    <link href="{% static '/css/detail.css' %}" rel="stylesheet">
    <div class="product-detail">
        <div class="image-container">
            <img src="{% if film.image %}{{ film.image.url }}{% else %}{% static 'images/img.png' %}{% endif %}">
            <h1>{{ film.name }}</h1>
            <div class="cart-description">{{ product.description|linebreaks }}</div>
        </div>
        <h2><a href="{{ film.category.get_absolute_url }}">{{ film.category }}</a></h2>
        <p class="weight">{{ film.description }}</p>
        <p class="weight">{{ film.start_date }}</p>
    </div>
    <p class="price">{{ film.price }} руб.</p>
    <form action="{% url 'cart:cart_add' film.id %}" method="post">
        <label class="count-label">Количество: </label>
        {{ cart_film_form.quantity }}
        {% csrf_token %}
        <br>
        <input class="submit-button" type="submit" value="Добавить в корзину">
    </form>
{% endblock %}