{% extends 'cinema/base.html' %}

{% block title %}Контакты{% endblock %}

{% block content %}
    <section>
        <h2>Работники кинотеатра</h2>
        <ul>
            <li itemscope itemtype="https://schema.org/Person">
                <h3 itemprop="name">Майкл Стик</h3>
                <p itemprop="jobTitle">Админимтратор</p>
                <p>Email: <a href="mailto:alice.johnson@museum.com" itemprop="email">michael.stick@gmail.com</a></p>
                <p>Phone: <span itemprop="telephone">(555) 987-6543</span></p>
                <img src="https://images.pexels.com/photos/5905902/pexels-photo-5905902.jpeg?auto=compress&cs=tinysrgb&h=300"
                     alt="employee" itemprop="image">
            </li>
            <li itemscope itemtype="https://schema.org/Person">
                <h3 itemprop="name">Максим Пухов</h3>
                <p itemprop="jobTitle">Уборщик</p>
                <p>Email: <a href="mailto:john.smith@museum.com" itemprop="email">michael.stick@gmail.com</a></p>
                <p>Phone: <span itemprop="telephone">(555) 987-6543</span></p>
                <img src="https://images.pexels.com/photos/1267312/pexels-photo-1267312.jpeg?auto=compress&cs=tinysrgb&h=300"
                     alt="employee" itemprop="image">
            </li>
            <li itemscope itemtype="https://schema.org/Person">
                <h3 itemprop="name">Игорь Гламаздин</h3>
                <p itemprop="jobTitle">Backend developer</p>
                <p>Email: <a href="mailto:robert.davis@museum.com" itemprop="email">michael.stick@gmail.com</a></p>
                <p>Phone: <span itemprop="telephone">(555) 987-6543</span></p>
                <img src="https://images.pexels.com/photos/3084334/pexels-photo-3084334.jpeg?auto=compress&cs=tinysrgb&h=300"
                     alt="employee" itemprop="image">
            </li>
            <li itemscope itemtype="https://schema.org/Person">
                <h3 itemprop="name">Дарья Демидова</h3>
                <p itemprop="jobTitle">Помощник уборщика</p>
                <p>Email: <a href="mailto:linda.garcia@museum.com" itemprop="email">michael.stick@gmail.com</a></p>
                <p>Phone: <span itemprop="telephone">(555) 987-6543</span></p>
                <img src="https://images.pexels.com/photos/1267341/pexels-photo-1267341.jpeg?auto=compress&cs=tinysrgb&h=300"
                     alt="employee" itemprop="image">
            </li>
        </ul>
    </section>
{% endblock %}